.jenkins_grey {
	background-image: url("icons/jenkins_grey.svg");
	width: 16px;
	height: 16px;
}

.jenkins_green {
	background-image: url("icons/jenkins_green.svg");
	width: 16px;
	height: 16px;
}

.jenkins_blue {
	background-image: url("icons/jenkins_blue.svg");
	width: 16px;
	height: 16px;
}

.jenkins_yellow {
	background-image: url("icons/jenkins_yellow.svg");
	width: 16px;
	height: 16px;
}

.jenkins_red {
	background-image: url("icons/jenkins_red.svg");
	width: 16px;
	height: 16px;
}

.jenkins_clock {
	background-image: url("icons/jenkins_clock.svg");
	width: 16px;
	height: 16px;
}

.jenkins_error {
	background-image: url("icons/jenkins_error.svg");
	width: 16px;
	height: 16px;
}

.jenkins_headshot {
	background-image: url("icons/jenkins_headshot.svg");
	width: 16px;
	height: 16px;
}

.jenkins_headshot_notify {
	background-image: url("icons/jenkins_headshot.svg");
	width: 24px;
	height: 24px;
}

.error {
	color: #ff0000;
	font-weight: bold;
}
